/* CSS files add styling rules to your content */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #faf8f8;
  }
  

  footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

  footer p {
    position: absolute;
    margin-left: 30px; 
    font-family: filson-pro, sans-serif;
  }

  footer a {
    text-decoration: underline;
    color: #37b7ff;
  }

  /*navgiation bar*/
  a {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: n18e;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
  .table-of-contents a {
    color: black;
    font-weight: 800;
    margin-right: 50px;
    float: right;
    padding: 0px -40px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 16px;
    font-family: filson-pro, sans-serif;
    font-weight: normal;
  }
  
  .table-of-contents a:hover {
    color: #37b7ff;
    border-bottom: 1px solid #37b7ff;
  }
  
  */ .project-list {
    padding: 0;
  }
  .project-list li {
    list-style: none;
  }
  
  .title {
    margin-top: 100px;
  }
  
  .head {
    font-size: 64px;
  }
  
  .case-study {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 1em;
  }
  
  .case-study > * {
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-family: "New-Spirit";
    color: #37b7ff;
    font-size: 30px;
  }
  
  h2 {
    font-family: filson-pro, sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: 20px;
  }
  
  h3 {
    font-family: filson-pro, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .subtitle {
    list-style-type: none;
    margin-left: 6rem;
    font-size: 19px;
    padding: 0;
    font-family: filson-pro, sans-serif;
  }

  
  .gallery1 img {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 50px;
  }
  
  .gallery2 img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .wrapper {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .wrapper2 {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .head,
  .info {
    text-align: center;
  }
  
  mark.blue {
    color: #37b7ff;
    background: none;
  }
  
  mark.blue2 {
    color: black;
    background: #99daff;
  }
  
  .section {
    margin-bottom: 100px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  
  .feature img {
    max-width: 100%;
    display: block;
    height: auto;
  
  }

  .feature2 img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: 300px;
  
  }


  
  .first img {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 50px;
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .guide img {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 50px;
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .intro {
    display: inline-flex;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .intro1 {
    display: inline-flex;
    margin-top: -100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .profile img{
    display: inline-flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 200px;
  }
  
  h4 {
    font-family: filson-pro, sans-serif;
    font-size: 24px;
    padding: 0px 100px;
    color: #37b7ff;
    display: flex;
  }
  
  h5 {
    font-family: "New-Spirit";
    font-weight: 600;
    padding: 0px 100px;
    color: black;
    font-size: 54px;
    display: flex;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-image {
    display: block;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 30px;
    border-style: solid;
    transition: transform 0.6s; /* Animation */
  }
  
  
  @supports (display: grid) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
      grid-gap: 2rem;
    }
  

  }
  
  @supports (display: grid) {
    .gallery2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
      grid-gap: 2rem;
    }
  
    .gallery2,
    .gallery-item {
      margin: 50px;
    }
  }
  
  .gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border-style: solid;
  }
  
  .first img {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 50px;
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .over img {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 50px;
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .img__wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .img__description {
    position: absolute;
    width: 100%;
    border: none;
    height: 100%;
    opacity: 0.5;
    font-family: filson-pro, sans-serif;
    line-height: 400px;
    text-align: center;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    opacity: 0;
    border-radius: 30px;
    box-shadow: 10px 10px 39px 0px rgba(173, 173, 173, 0.72);
    transition: opacity 0.2s, visibility 0.2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 10;
  }
  
  .button {
    border-radius: 35px;
    padding: 20px;
    width: 200px;
    height: 70px;
    margin-top: 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    float: left;
    font-family: filson-pro, sans-serif;
    margin-left: 90px;
    background-color: #37b7ff;
    color: white;
  }
  
  button:focus {outline:0;}
  .button1 {outline:0;}
  
  .button1 {
    border-radius: 35px;
    padding: 20px;
    width: 200px;
    height: 70px;
    margin-top: 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    float: left;
    font-family: filson-pro, sans-serif;
    background-color: #37b7ff;
    color: white;
  }
  
  .button:hover {
    background-color: white;
    color: #37b7ff;
    box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.22);
  }
  
  .button1:hover {
    background-color: white;
    color: #37b7ff;
    box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.22);
  }
  
  
  
  .buttons {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
  }
  
  .about {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 1em;
  }
  
  
  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow: auto;
    padding-bottom: 180px;
    /* must be same height as the footer */
  }
  
  #footer {
    position: relative;
    margin-left: -40px;
    clear: both;
  
  }
  
  .lauryn img{
    width: 150px;
  }
  
  .noya img{
    width: 150px;
  }
  
  .trevor img{
    width: 150px;
  }
  
  /*responsive*/
  
  
  @media screen and (max-width: 320px) {
    .button {
      margin: 100px 100px;
      padding: 5px;
      width: 200px;
      height: 70px;
      margin-bottom: 0px;
    }
  
    .table-of-contents a {
      margin-right: 25px;
    }
  
    .intro{
    margin-top: -50px;
    margin-left: -50px;
   }
   
    .intro1{
     margin-left: -50px;
     margin-right: -100px;
   }

   .header{

    margin-right: -100px;
   }
     
    .gallery2{
     margin-left: 10px;
     margin-right: 30px;
  
   }
  
   .profile img{
    position: relative;
    margin-top: 170px;
    margin-left: -330px;
    width: 150px;
    height: 150px;  
   }
   
   .about{
    margin-left: 50px;
    margin-right: 50px;
   }
  
  .case-study{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .gallery{
  margin-left: -100px;
  }
  
  .gallery-item{
    width: 55%;
  }
  
  h5{
    font-size: 34px;
  }
  
  }
  
  
  @media screen and (max-width: 736px) {
    .button {
      margin: 100px 100px;
      padding: 5px;
      width: 200px;
      height: 70px;
    }
    .table-of-contents a {
      margin-right: 50px;
    }
  
    .intro{
    margin-top: 50px;
    margin-left: 0px;
   }
   
    .intro1{
     margin-left: 0px;
   }
     
    .gallery2{
     margin-left: -25px;
     margin-right: -25px;
     margin-right: 0px;
   }
  
   .profile img{
    width: 200px;
    height: 200px;
    top: 10px;
   }
   .about{
    margin-left: 50px;
    margin-right: 50px;
   }
  
  .case-study{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .gallery{
  margin-left: -75px;
  
  }
  
  }
    
  
  @media screen and (max-width: 550px) {
    body {
      scrollbar-width: none;

    }
    .button {
      margin: 100px 125px;
      padding: 5px;
      width: 200px;
      height: 70px;
      text-align: center;
    }

    .table-of-contents a {
      margin-right: 25px;
    }
  
    .intro{
    margin-top: 0px;
    margin-left: -50px;
   }
   
    .intro1{
    margin-left:-50px;
    margin-right: 0px;
   }
     
    .gallery2{

      margin-top: 0px;
   }
  
   .gallery-item{
     width: 60%;
   }
  
   .profile img{
    position: relative;
    margin-top: 20rem;
    margin-left: -20rem;
       }
    
   .about{
    margin-left: 50px;
    margin-right: 50px;
   }
  
  h5{
    font-size: 44px;
  }
  .subtitle {
    list-style-type: none;
    margin-left: 1rem;
    padding: 0;
  }
  
  } 
  
  
  
  
  
  
  
  
